<ion-view view-title="{{'DONATE' | translate}}" hide-back-button="true" hide-nav-bar="true">
    <ion-content>
        <div class="container-success row text-center">
            <div class="col col-100">
                <h2 translate="DONATE_SUCCESS_MESSAGE" translate-values="{ currency_symbol: currency.symbol, amount: amount, merchant: project.merchant, title: project.title }">
                </h2>
            </div>
        </div>
    </ion-content>

    <a class="high-footer bar bar-footer" menu-close href="#/app/dashboard">
        <h1 class="title" translate="DONE"></h1>
    </a>
</ion-view>
