<ion-view view-title="{{'BUY_SUCCESS' | translate}}" hide-back-button="true" hide-nav-bar="true">
    <ion-content>
        <div class="container-success row text-center">
            <div class="col col-100">
                <h2 translate="BUY_SUCCESS_MESSAGE"
                    translate-values="{ }">
                </h2>
            </div>
        </div>
    </ion-content>

    <a class="high-footer bar bar-footer" menu-close href="#/app/home">
        <h1 class="title" translate="DONE"></h1>
    </a>
</ion-view>
