<ion-view view-title="{{'PROJECTS' | translate}}">
    <div ng-controller="ProjectsCtrl">
        <form name="projectForm" method="post" novalidate>
            <ion-content class="custom-body">
                <div ng-repeat="project in projects">
                    <div class="list-default">
                        <div class="block">
                            <div class="item item-avatar item-icon-left no-padding">
                                <img class="circle-base profile-teller"
                                     ng-src="{{ item.counterparty.profile || 'img/profile_2.png' }}"/>

                                <div class="row default-top">
                                    <div class="col col-50 align-left">
                                        <h2>{{ project.title }}</h2>
                                    </div>
                                </div>
                                <div class="col col-50 align-right">
                                    <div class="button button-small" ng-click="submit({'project': project.id })">Contribute</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </ion-content>
        </form>
    </div>
</ion-view>
